<%- include("_head") %>
  <div class="container">
    <h4>Error: </h4>
    <div class="border-bottom text-danger">
      <%= error.status %>
        <%= message %>
    </div><br>
    <pre><%= error.stack %></pre>
  </div>
  <%- include("_foot") %>